<ul class="panorama-room-list">
  {% for link in linklists['styles'].links %}
    {%- assign child_list_handle = link.title | handleize -%}
      <li class="scene-selector{%- if forloop.first == true %} active{% endif -%}" data-scene-name="{{ link.title | handleize }}" data-scene-index="{{ forloop.index }}">
        {{ link.title }}
      </li>
    {% endfor %}
</ul>
