@font-face {
    font-family: 'nubian-demibolddemibold';
    src: url('dincomp-medium-webfont.woff2') format('woff2'),
         url('dincomp-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherregular';
    src: local('merriweatherregular'), local('merriweatherregular'),
         url('merriweather-regular-webfont.woff2') format('woff2'),
         url('merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
