.site-header--offer {
  background: #adc99c;
  height: 35px;
  line-height: 40px;
  font-size: 16px;
  font-family: dincomp;
  a {
    color: white;
    &:hover {
      color: #222;
    }
    &.site-header-toplink {
      float: right;
      margin-left: 30px;
    }
  }
}

.animate {
  .site-nav {
    opacity: 1 !Important;
  }
}
