#shopify-section-collection-template {
  position: relative;
}
.wrapper-with-sidebar {
  width: calc(100% - 300px);
  margin-right: 0px;
  padding: 0px 50px;
}
.collection-sidebar {
  width: 300px;
  display: block;
  height: 100%;
  position: absolute;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #f9f9f9, #f9f9f9); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #f9f9f9, #f9f9f9); /* Standard syntax */
}
