#shopify-section-collection-template {
  position: relative;
}
.wrapper-with-sidebar {
  width: calc(100% - 300px);
  margin: 0 0 0 auto;
  padding: 0px 50px;
  max-width: none;
  @include at-query($max, $desktop) {
    width: 100%;
    padding: 0px 15px;
    margin: 0px;
  }
}
.collection-sidebar {
  width: 300px;
  display: block;
  height: 100%;
  position: absolute;
  background: white;
  padding: 15px;
  @include at-query($max, $desktop) {
    width: 100%;
    position: relative;
    display: none;
  }
}

.collection-sidebar__title {
  color: #757575;
}

.collection-sidebar__item-title {
  color: #757575 !important;
  a {
    color: #757575 !important;
  }
}
