.panorama-collection-item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  position: relative;
  &:last-child {
    width: 200px;
    width: calc(100% - 105px);
  }
}

.side-nav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    >li {
      margin-bottom: 0px;
    }
}

.tabs {
  margin: 0px;
  height: 40px;
  line-height: 40px;
  background: #f5f5f5;
}
.tabcontent {
  display: none;
}
.tablinks {
  display: inline-block;
  width: 25%;
  cursor: pointer;
  text-align: center;
  margin: 0;
  &.active {
    background: #fff;
  }
  a {
    color: #222;
    font-family: dincomp;
  }
}
.catalog-inner {
  padding: 0px;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

.sidebar-logo {
  margin: 0 auto;
  bottom: 55px;
  position: fixed;
  height: auto;
  left: 0;
  width: 100%;
  padding: 10px 20%;
  background: #f9f9f9;
}

.panorama-room-list {
  margin: 0px;
}

.scene-selector {
  padding: 10px 5px 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
  position: relative;
  &.active::after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #adc99c;
    left: 7.5px;
    top:0;
    bottom: 0;
    margin: auto;
  }
  &:hover {
    background: #f9f9f9;
  }
}

.pano-sidebar-item {
  border-bottom: 1px solid #e7e7e7;
}

.sidebar-product-title {
  padding: 5px;
}

.panorama-wrapper {
  display:inline-block;
  height: 100%;
  left: 300px;
  width: calc(100% - 300px);
  position: fixed;
  &.sidenav-closed {
    left: 0px;
    width: 100%;
  }
  @include at-query ($max, $medium) {
    left: 0px;
    width: 100%;
    &.sidenav-closed {
      .menu-btn {
        left: 305px;
      }
    }
  }
}

#slide-out {
    &.closed {
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
    }
    @include at-query ($max, $medium) {
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        &.closed {
          -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
        }
    }
}

.menu-btn {
  position: absolute;
  top: 4px;
  left:5px;
  padding: 1px;
  z-index: 100;
  width: 26px;
  height: 26px;
  background: #fff;
}

.prev-scene-arrow,
.next-scene-arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    top: calc(50% - 12px);
}

.prev-scene-arrow {
  left:5px;
}

.next-scene-arrow {
  right: 5px;
}

.pano-catalog-image {
  width: 100px;
  height: 100px;
  color: #fff;
}

.pano-catalog-placeholder {
  position: absolute;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}
