/*================ Module | Filters and Sort toolbar and selection ================*/
$toolbar-height: 40px;
$toolbar-height-small: 40px;

.filters-toolbar-wrapper {
  margin-bottom: 22px;
}

.filters-toolbar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 25px;
  position: relative;
  @include at-query($max, $medium) {
    margin-top: 15px;
  }
}

.filters-toolbar__item {
  min-width: 33%;
  -moz-flex: 1 1 33%;
  -ms-flex: 1 1 33%;
  -webkit-box-flex: 1;
          flex: 1 1 33%;
  .label--hidden {
    display: none;
  }
  &.text-right .jumpstart-selector {
    margin-left: auto;
  }
  @include at-query($max, $medium) {
    min-width: 50%;
    -moz-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    -webkit-box-flex: 1;
            flex: 1 1 50%;
    .jumpstart-selector .arrow {
      height: $toolbar-height-small;
      line-height: $toolbar-height-small + 2;
    }
  }
}

.filters-toolbar__item--count {
  line-height: $toolbar-height;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  @include at-query($max, $medium) {
    display: none;
  }
}

.filters-toolbar__input {
  @include at-query($max, $medium) {
    height: $toolbar-height-small;
    padding: 8px 50px 8px 8px;
    font-size: 14px;
  }
}

.filters-toolbar__input--sort {

}

.filters-toolbar__input--filter {

}

.filters-toolbar__product-count {
  font-style: italic;
  line-height: $toolbar-height;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include at-query($max, $medium) {
    line-height: $toolbar-height-small;
  }
}
