body,
button,
input,
select,
textarea {
    font-size: 14px;
    line-height: 1.6;
    font-family: "din";
    color: #444;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-family: "dincomp";
    margin: 0 0 0.5em;
    line-height: 1.4;
    color: #222;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    font-weight: inherit;
}

.h1,
h1 {
    font-size: 2em;
}
@media screen and (max-width: 767px) {
    .h1,
    h1 {
        font-size: 1.71429em;
    }
}
@media screen and (max-width: 480px) {
    .h1,
    h1 {
        font-size: 1.57143em;
    }
}

.h2,
h2 {
    font-size: 1.85714em;
}
@media screen and (max-width: 767px) {
    .h2,
    h2 {
        font-size: 1.71429em;
    }
}
@media screen and (max-width: 480px) {
    .h2,
    h2 {
        font-size: 1.57143em;
    }
}

.h3,
h3 {
    font-size: 1.71429em;
}
@media screen and (max-width: 480px) {
    .h3,
    h3 {
        font-size: 1.28571em;
    }
}

.h4,
h4 {
    font-size: 1.14286em;
}

.h5,
h5 {
    font-size: 1.14286em;
}

.h6,
h6 {
    font-size: 1em;
}

p {
    margin: 0 0 30px;
}

p img {
    margin: 0;
}

em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 0.9em;
}

sub,
sup {
    position: relative;
    font-size: 60%;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.5em;
}

a {
    color: #adc99c;
}

a:hover {
    color: #92b77b;
}

blockquote {
    font-size: 1.125em;
    line-height: 1.45;
    font-style: italic;
    margin: 0 0 30px;
    padding: 15px 30px;
    border-left: 1px solid #e9e9e9;
}

blockquote p {
    margin-bottom: 0;
}

blockquote p+cite {
    margin-top: 15px;
}

blockquote cite {
    display: block;
    font-size: 0.75em;
}

blockquote cite:before {
    content: '\2014 \0020';
}

code,
pre {
    background-color: #faf7f5;
    font-family: Consolas,monospace;
    font-size: 1em;
    border: 0 none;
    padding: 0 2px;
    color: #51ab62;
}

pre {
    overflow: auto;
    padding: 15px;
    margin: 0 0 30px;
}

ol,
ul {
    margin: 0 0 15px 20px;
    padding: 0;
}

ol {
    list-style: decimal;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 4px 0 5px 20px;
}

li {
    margin-bottom: 0.25em;
}

ul.square {
    list-style: square outside;
}

ul.disc {
    list-style: disc outside;
}

ol.alpha {
    list-style: lower-alpha outside;
}

.no-bullets {
    list-style: none outside;
    margin-left: 0;
}

.inline-list {
    margin-left: 0;
}

.inline-list li {
    display: inline-block;
    margin-bottom: 0;
}

.rte ol,
.rte ul {
    margin: 0 0 25px 20px;
    padding: 0;
    list-style-position: inside;
}

.rte ol {
    list-style-type: decimal;
}

.rte ol ol {
    list-style-type: lower-alpha;
}

.rte ul {
    list-style-type: disc;
}

.rte li {
    margin-bottom: 0;
}

.rte > *:last-child {
    margin-bottom: 0;
}

.text-center ol,
.text-center ul {
    list-style-position: inside;
    margin-left: 0;
}
