<div id="home-newsletter" class="index-section home-section">
  <div class="home-newsletter">
    <div class="wrapper text-center">
      <div class="newsletter-title">
        <span>{{ section.settings.title | escape }}</span>
      </div>
      <div class="newsletter text-center password-input-group">
        {% include 'mailchimp' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Header",
        "default": "Stay up to date"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter signup",
      "category": "Promotional"
    }],
    "blocks" : []
  }
{% endschema %}
