<!-- Popup itself -->
{% for block in section.blocks %}
  <div id="newsletter-popup" class="white-popup mfp-with-anim mfp-hide" style="background-image:url('{{ block.settings.image | img_url: '500x', format: 'pjpg', crop: 'center' }}')">
    <div class="newsletter-popup-wrapper">
      {% include 'mailchimp' %}
    </div>
  </div>
{% endfor %}



{% schema %}
{
  "name": "Home Popup",
  "max_blocks": 1,
  "blocks": [
    {
      "type": "image",
      "name": "Home-Popup-Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Popup",
      "category": "Image",
      "blocks": [

        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
