.panorama-wrapper {
    display:inline-block;
    height: 100%;
    left: 300px;
    width: calc(100% - 300px);
    position: fixed;
}
.panorama-wrapper.sidenav-closed {
  left: 0px;
  width: 100%;
}

#slide-out.closed {
    -webkit-transform: translateX(-100%) !important;
            transform: translateX(-100%) !important;
  }
.menu-btn {
  position: absolute;
  top: 4px;
  left:5px;
  padding: 1px;
  z-index: 100;
  width: 26px;
  height: 26px;
  background: #fff;
}

#sidenav-overlay {
  display: none;
}
