{% layout 'panorama' %}

<aside>
  <ul id="slide-out" class="side-nav" style="transform: translateX(0px);">
    <li>
      <ul class="tabs">
        <li class="tablinks active tab-rooms" onclick="openTab('tab-rooms')"><a>Rooms</a></li>
        <li class="tablinks tab-catalog" onclick="openTab('tab-catalog')"><a>Catalog</a></li>
        <li class="tablinks tab-cart" onclick="openTab('tab-cart')"><a>Cart</a></li>
      </ul>
    </li>
    <!-- This is the rooms navigation -->
    <div id="tab-rooms" class="tabcontent" style="display:block;">
      {% include 'panorama-rooms' %}
    </div>
    <!-- This is the inline catalog -->
    <div id="tab-catalog" class="tabcontent">
      {% include 'panorama-catalog' %}
    </div>
    <!-- This is the inline cart -->
    <div id="tab-cart" class="tabcontent" data-cart-view rv-cloak>
      {% include 'panorama-cart' %}
    </div>
    <!-- Sidebar branding -->
    <div class="sidebar-logo">{% include "sawder-wide-logo.svg" %}</div>
  </ul>
</aside>
